body, html {
    margin: 0;
    font-family: serif;
    background-color: #c5e4ff;
}

table, td, th {
    border: 1px solid #000000;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
}

th {
    background-color: grey;
    height: 40px;
}

td {
    background-color: beige;
    text-align: center;
    padding: 10px;
}

.update {
    font-size: 16px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: black;
    padding: 16px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.page_count {
    float: left;
    margin-left: 75px;
    font-size: 20px;
}

.pages {
    float: right;
    margin-right: 75px;
}

#content {
    width: 100%;
}

.btn {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.page {
    background-color: black;
    padding: 16px;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 10px;
}

.num {
    background-color: #2d2e30;
    padding: 10px;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 8px;
}

.dim {
    background-color: #bcc3c6;
}

a:hover {
    background-color: #0b1067;
}

.login {
    margin-left: auto;
    margin-right: auto;
}

.is-large {
    padding: 16px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    width: 20%;
}