{% extends 'base.html' %}

{% block head %}
<title>Zendesk Coding Challenge Ticket Viewer</title>
{% endblock %}

{% block body %}
<h1 style="text-align: center">Zendesk Coding Challenge Ticket Viewer</h1>
<h2 style="text-align: center">Welcome, {{ requester_name }}!</h2>
<h3 style="text-align: center">You are signed in as {{ requester_email }} (Requester ID {{ requester_id }})</h3>
<h3 style="text-align: center">View up to 25 tickets per page</h3>
<div style="text-align: center; float: left; margin-left: 515px; width: 15%">
    <a href="/tickets" class="update">Refresh Ticket Data</a>
</div>
<div style="text-align: center; float: left;">
    <a href="/login" class="update">Sign Out</a>
</div>
<br><br><br>
<div class="box pages">
    <a href="{{ url_for('index', page=tickets.prev_num) }}"
       class="btn page
       {% if tickets.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in tickets.iter_pages() %}
        {% if page_num %}
            {% if tickets.page == page_num %}
            <a href="{{ url_for('index', page=page_num) }}"
               class="btn num dim">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('index', page=page_num) }}"
               class="btn num">
                {{ page_num }}
            </a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('index', page=tickets.next_num) }}"
       class="btn page
       {% if tickets.page == tickets.pages %}
       disabled
       {% endif %}">
        &raquo;
    </a>
</div>
<div class="box page_count">
    <h4>Showing page {{ tickets.page }} of {{ tickets.pages }}</h4>
</div>
<br>
<table>
    <tr>
        <th>Ticket ID</th>
        <th>Submitter Name</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Type</th>
        <th>Created</th>
        <th>Last Updated</th>
        <th>Submitter ID</th>
        <th>Details</th>
    </tr>
    {% for ticket in tickets.items %}
        <tr>
            <td>{{ ticket.id }}</td>
            <td>{{ ticket.name }}</td>
            <td>{{ ticket.subject}}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.type }}</td>
            <td>{{ ticket.created_at}}</td>
            <td>{{ ticket.updated_at}}</td>
            <td>{{ ticket.submitter_id}}</td>
            <td>
                <a href="/view/{{ticket.id}}">View Ticket Details</a>
            </td>
        </tr>
    {% endfor %}
</table>

<div class="box pages">
    <a href="{{ url_for('index', page=tickets.prev_num) }}"
       class="btn page
       {% if tickets.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    {% for page_num in tickets.iter_pages() %}
        {% if page_num %}
            {% if tickets.page == page_num %}
            <a href="{{ url_for('index', page=page_num) }}"
               class="btn num dim">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('index', page=page_num) }}"
               class="btn num">
                {{ page_num }}
            </a>
            {% endif %}
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('index', page=tickets.next_num) }}"
       class="btn page
       {% if tickets.page == tickets.pages %}
       disabled
       {% endif %}">
        &raquo;
    </a>
</div>
<div class="box page_count">
    <h4>Showing page {{ tickets.page }} of {{ tickets.pages }}</h4>
</div>
{% endblock %}