{% extends 'base.html' %}

{% block head %}
<title>Zendesk Coding Challenge Ticket Viewer</title>
{% endblock %}

{% block body %}
<h1 style="text-align: center">Zendesk Coding Challenge Ticket Viewer</h1>
<h2 style="text-align: center">Sign in to your Zendesk account</h2>
<br>
<div class="login">
    <form method="POST" action="/login">
        <div class="field">
            <div class="control">
                <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="password" name="password" placeholder="Your Password">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-large" type="text" name="subdomain" placeholder="Your Zendesk Subdomain">
            </div>
        </div>
        <button class="button is-block is-info is-large is-fullwidth">Login</button>
    </form>
</div>
{% if error %}
<h3 style="text-align: center">{{ error }}</h3>
{% endif %}
{% endblock %}