<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
    {% block head %}
    <title>Ticket Details</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <h1 style="text-align: center">Details for Ticket # {{ ticket.id }}</h1>
    <div style="text-align:center">
        <a href="/tickets">Return to Homepage</a>
    </div>
    <br>
    <div style="font-size: 16px; float: right; margin-right: 25px;">
        <a href="/next/{{ticket.id}}">View Next Ticket</a>
    </div>
    <div style="font-size: 16px; float: left; margin-left: 25px;">
        <a href="/prev/{{ticket.id}}">View Previous Ticket</a>
    </div>
    <br><br><br><br>
    <table id="details">
        <tr>
            <th>Subject</th>
            <th>Status</th>
            <th>Type</th>
            <th>Tags</th>
        </tr>
        <tr>
            <td>{{ ticket.subject }}</td>
            <td>{{ ticket.status }}</td>
            <td>{{ ticket.type }}</td>
            <td>{{ ticket.tags }}</td>
        </tr>
    </table>
    <br>
    <table id="description">
        <tr>
            <th>Description</th>
            <td>{{ ticket.description }}</td>
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <th>Ticket Submitter Information</th>
        </tr>
        <tr><td>Name: {{ ticket.name }}</td></tr>
        <tr><td>email: {{ ticket.email }}</td></tr>
        <tr><td>ID: {{ ticket.submitter_id }}</td></tr>
    </table>
    <table>
        <tr>
            <th>Ticket Assignee Information</th>
        </tr>
        <tr><td>Name: {{ ticket.assignee_name }}</td></tr>
        <tr><td>email: {{ ticket.assignee_email }}</td></tr>
        <tr><td>ID: {{ ticket.assignee_id }}</td></tr>
    </table>
    <table>
        <tr>
            <th>Ticket Date Information</th>
        </tr>
        <tr><td>Created: {{ ticket.created_at }}</td></tr>
        <tr><td>Last Updated: {{ ticket.updated_at }}</td></tr>
        <tr><td>Due Date: {{ ticket.due_at }}</td></tr>
    </table>
    <table>
        <tr>
            <th>Ticket Attributes</th>
        </tr>
        <tr><td>Attachments Allowed: {{ ticket.allow_attachments }}</td></tr>
        <tr><td>Channelback Allowed: {{ ticket.channelback }}</td></tr>
        <tr><td>Associated Incidents: {{ ticket.incidents }}</td></tr>
        <tr><td>Public Ticket: {{ ticket.public }}</td></tr>
        <tr><td>Safe Updates: {{ ticket.safe_update }}</td></tr>
    </table>
    {% endblock %}
</body>
</html>