% extends 'base.html' %}

{% block head %}
<title>Ticket Details</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Details for Ticket # {{ ticket.id }}</h1>
    <a href="/update">Return to Homepage</a>
    <br>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>Ticket Submitter Information</th>
        </tr>
        <tr><th>Name: {{ ticket.name }}</th></tr>
        <tr><th>email: {{ ticket.email }}</th></tr>
        <tr><th>ID: {{ ticket.submitter_id }}</th></tr>
    </table>
    <br>
    <table class="center", cellspacing="0" cellpadding="0">
        <tr>
            <th>Ticket Assignee Information</th>
        </tr>
        <tr><th>Name: {{ ticket.assignee_name }}</th></tr>
        <tr><th>email: {{ ticket.assignee_email }}</th></tr>
        <tr><th>ID: {{ ticket.assignee_id }}</th></tr>
    </table>
    <br>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>Ticket Date Information</th>
        </tr>
        <tr><th>Created {{ ticket.created_at }}</th></tr>
        <tr><th>Last Updated {{ ticket.updated_at }}</th></tr>
        <tr><th>Due at {{ ticket.due_at }}</th></tr>
    </table>
    <br>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <th>Ticket Attributes</th>
        </tr>
        <tr><th>Attachments Allowed: {{ ticket.allow_attachments }}</th></tr>
        <tr><th>Channelback Allowed: {{ ticket.allow_channelback }}</th></tr>
        <tr><th>Associated Incidents: {{ ticket.has_incidents }}</th></tr>
        <tr><th>Public Ticket: {{ ticket.is_public }}</th></tr>
        <tr><th>Safe Updates: {{ ticket.safe_update }}</th></tr>
    </table>


    {% endif %}
</div>
{% endblock %}